/*
Custom Css
*/
@media only screen and (min-width: 768px) {
  .banner-img-wrapper {
    height: 480px;
    display: flex;
    align-items: center;
  }
  .category-img{
    height: 300px;
  }
}

div.img-fluid{
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
  background-position: center;
}